.order {
    display: flex;
}

.summaryContainer {
    margin-top: 20px;
    margin-left: 50px;
    background-color: #080735;
    width: 400px;
    padding: 20px;

    h2 {
        text-align: center;
    }
    .purchaseBtn {
        margin-top: 10px;
        width: 100%;
    }
    border-radius: 10px;
}

.cartProductList {
    display: flex;
    flex-direction: column;
}
.cartContainer {
    padding: 20px;
    display: flex;
    width: 60%;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;

        .headerPrice {
            padding-right: 30px;
        }

        .headerDetails {
            padding-right: 10px;
        }
    }
}
.cartProduct {
    width: 100%;
    display: flex;
    margin-bottom: 1%;

    img {
        width: 250px;
    }

    &__info {
        font-size: 26px;
        margin-left: 25px;
        .removeProduct {
            font-size: 16px;
            color: red;
            font-family: $Nunito;
        }
    }

    &__price {
        display: flex;

        margin-left: auto;
    }
}
