.cartPage{

    margin: 10px auto;
}

table{
    margin-left: 20px;
    width:80%;
    border-collapse:collapse;
}


.cartInfo{

    display: flex;
    flex-wrap: wrap;

    img{
        width: 127.29px;
        height:100.87px;
        margin-right: 10px;
    }
}
th{
    text-align: left;
    padding: 5px;
}
td{

    padding: 10px 5px;

    input{
        width: 40px;
        height: 30px;
        padding: 5px;
        color: black;
    }
    a{

        text-decoration: none;
    }
}

.cartDetails{
    margin-left: 0.5rem
}