.features {
    margin-top:40px;
    display: flex;
    justify-content:space-around;
    width: 100vw;

    &__container {
        background-color: aqua;
        width: 20%;
        height:300px;
        margin: 10px;
        flex-grow: 1;
        padding: 2em;
        background-color: #080735;
    }
}
@media (max-width: 768px){
    
    .features{

        align-items: center;
        flex-direction: column;
        &__container{

            width:80%;
            
            
        }
    }
}