.features {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 80px;
    

    &__container {
        background-color: aqua;
        width: 20%;
        height: 200px;
        margin: 10px;
        flex-grow: 1;
        padding: 1em;
        background-color: #080735;

        h2{

            font-weight: bold;
            font-family:$Poppins;
            margin-bottom: 5%;
            text-align: center;
        }
        p{
            text-align: center;
        }
        
    }
}
@media (max-width: 768px) {
    .features {
        align-items: center;
        flex-direction: column;
        padding: 0px;
        margin-top:20px;

        &__container {
            width: 80%;
        }
       
    }

}
