footer {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 10px;

    .footerlogo {
        display: flex;
        align-items: center;

        img {
            width: 80px;
            height: 60px;
        }
    }
    ul {
        list-style: none;
    }
    li {
        display: column;
    }
    a {
        text-decoration: none;
    }
    .socialFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: 5%;
        h1 {
            margin: 10px;
            font-size: 18px;
            font-family: $Nunito;
        }
        .socialImagesContainer {
            display: flex;
        }
        .socialImages {
            width: 26px;
            margin: 5px;
            img {
                width: 100%;
            }
        }
        .socialtwitter {
            width: 19px;
            margin-top: 10%;
        }
    }
    .politicas {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;

            align-content: center;

            li {
                margin: 10px;
                font-family: $Nunito;
            }
        }
    }
    .infoLegal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 0px;
        display: flex;
    }
    .politicas {
        ul {
            flex-direction: column;
            padding: 0px;

            li {
                text-align: center;
            }
        }
    }
}
