.hitman {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;

    &__Gallery{

        display: flex;
        width:80%;
        height:80%;
        align-items: center;
    }
    &__Banner {
        width: 75%;
        padding-right: 2%;

        img {
            width: 100%;
        }
    }
    &__ImagesContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:25%;
        height: 100%;
        align-items: center;

        .hitman__Images {
            width: 94%;
            margin: 1%;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
   
    .hitman {
        
        margin-top:20px;
        &__Banner {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__Gallery{
            width: 100%;
            flex-direction: column;
        }
        &__ImagesContainer {
           width: 100%;
            flex-direction: row;
            .hitman__Images {
                width: 100%;
               
            }
        }
    }
}
