* {
    box-sizing: border-box;
    color: white;
}

.hidden {
    display: none;
}
h3 {
    font-family: $Poppins;
    font-size: 14px;
}

h2 {
    font-family: $Poppins;
    font-size: 18px;
}

body {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: #1b1924;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 20px;
    background-color: black;

    .imgMenuMobile {
        display: none;
    }
    .divMenuMobile {
        display: none;
    }
}

.nav__links {
    list-style: none;
    display: flex;
    width: 30%;
    padding: unset;
    justify-content: space-evenly;

    li {
        a {
            text-decoration: none;
        }
    }
}
p{
    font-family: $Nunito;
}
//responsive movil
@media (max-width: 768px) {
    nav {
        
        width: 100%;
        

        .imgMenuMobile {
            display: block;   
        }

        .nav__links {

            display: none;
            &--mobile {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 20px;
                align-self: center;
                padding-inline-start: 0px;
                width: unset;
               
            }
            

            li {
                margin: 10px 0px;
            }
        }
        .divMenuMobile {
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: flex-end;
            padding: 20px;
            top: 0px;
            right: 0px;
            width: 40%;
            height: 100vh;
            background-color: black;
            z-index: 2;
        }
    }
}
