* {
    
    box-sizing: border-box;
    color:white;
    
}
body{
    
    margin: 0;
}

.navBar{

  background-color:black;

  padding:2em;
  width: 100vw;
  text-decoration: none;
    

    // .logo {

    //     margin-right: auto;
    //     margin-left: 20px;
        
    // }

    nav{

        display: none;
    }
    .container{
    
        display: flex;
        justify-content:space-between;
        cursor: pointer;
    }
    
}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

