.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login {
        background-color: #202020;
        display: flex;
        flex-direction: column;
        width: 30%;
        
        padding: 30px;
        align-items: center;
            

        h3 {
            font-size: 30px;
            margin: 0px;
        }
        .inputContainer {
            display: flex;
            flex-direction: column;

            margin-top: 10%;
            width: 100%;

            align-items: center;

            input {
                background-color: #474747;
                margin: 10px;
                width: 70%;
                height: 50px;
                color: white;
                padding: 10px;
                font-size: 15px;
                border: none;
            }
        }

        .btnLogin {
            margin-top: 5%;
            width: 30%;
            height: 40%;
            padding: 0.5em;
        }
    }
}

@media (max-width: 768px) {
    .containerLogin {
        width: 100%;

        .login {
            width: 100%;
            height: 100%;
            padding: 20px;

            .inputContainer {
                input {
                    width: 100%;
                    height: 30px;
                }
            }
            h3 {
                font-size: 25px;
                margin: 0px;
                margin-top: 20%;
            }
            .btnLogin {
                margin-top: 10%;
                width: 80%;
                height: 30px;
            }
        }
    }
}
