.productForm {
    margin: auto;
    margin-top: 40px;
    display: flex;
    width: fit-content;
    justify-content:space-evenly;
    height: fit-content;
    padding: 0.5em;
    background-color: black;
    align-items: center;


    .productFormImageContainer {
        display: flex;
        align-items: center;
        width: 400px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .productForm__inputsContainer {
        width: 40%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
    }

    .productForm {
        &__input {
            margin-bottom: 10px;
            color: black;
            height: 30px;
        }

        &__label {
            margin-bottom: 10px;
        }
        &__button {
            height: 30px;
            margin: auto;
            margin-top: 10px;
        }

        &__select {
            margin-bottom: 10px;
            color: black;
            option {
                color: black;
            }
        }
    }
}
