.productForm {
    margin: auto;
    margin-top: 40px;
    display: flex;
    width: min-content;
    justify-content:space-evenly;
    height: fit-content;
    padding: 0.5em;
    background-color: black;
    align-items: center;

    .productFormUploadImage{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:500px;
        

        .productFormImageContainer {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding:10px;
            height: 400px;
            width: 100%;
            margin-right: 10px;
            border: 1px solid white;
            margin-bottom: 10px;
            justify-content:flex-end;
            flex-wrap: wrap;
            
            .productFormImg{

                display: flex;

            }
            
            img {
                width: 50%;  
            }
        }
    }

   

    .productForm__inputsContainer {
        width: 40%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
    }

    .productForm {
        &__input {
            margin-bottom: 10px;
            color: black;
            height: 30px;
        }

        &__label {
            margin-bottom: 10px;
        }
        &__button {
            height: 30px;
            margin: auto;
            margin-top: 10px;
        }

        &__select {
            margin-bottom: 10px;
            height: 30px;
            color: black;
            option {
                color: black;
            }
        }
    }
}


@media (max-width: 830px) {

   .productForm{
    width: 90vw;
    flex-direction: column;
    margin-bottom: 1em;


    .productForm__inputsContainer {
        width: 100%;
       
    }

    .productFormUploadImage{

        width: 100%;
    }
    .productFormImageContainer {

        width: 100%;
        margin: unset;
        margin: auto;
        margin-top: 10px;
    }

   }


   
    
}