.list{

    display:flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: flex-start;
    margin:1em
}

.filter{

    display: flex;
    width: 100%;
    margin: 1em;
    justify-content:center;

    &__container{

        display: flex;
        margin: 0.5em;
        flex-direction: column;

        label{
    
            margin: 0.5em;
            display: block;
        }
        select{
            background-color:black;   
        }
        
    }
   
}