.list{

    display:flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: center;
    margin:1em;
    
}

.filter{

    display: flex;
    width: 100%;
    margin: 1em;
    justify-content:center;

    &__container{

        display: flex;
        margin: 0.5em;
        flex-direction: column;

        label{
    
            margin: 0.5em;
            display: block;
        }
        select{
            background-color:black;   
        }
        
    }
   
}

@media (max-width: 768px) {

    .list{

        flex-direction: column;
        padding: unset;
    }
    .filter{

        flex-wrap: wrap;
        width:unset;
       justify-content: flex-start;
    }
}