.reviews {
    padding: 1em;
    
    &__Div {
        display: flex;
        padding: 1em;
        justify-content: space-around;
    }
    &__Container {
        width: 30%;
        padding: 1%;
        background-color: #2e3344;
        display: flex;
        flex-direction: column;
        margin: 3%;
        display: flex;
        justify-content: space-between;
        &__Image {
            justify-self: flex-end;
            width: 80px;
           display: flex;
           

            img {
                width: 100%;
                margin-right: 25px;
            }
        }
    }
}
@media (max-width: 768px) {
    .reviews {
        &__Div {
            align-items: center;
            flex-direction: column;
        }

        &__Container {
            width: 100%;
            padding: 3%;
        }
    }
}
