//@import "agent";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
$FugazOne: "Fugaz One", cursive;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
$Nunito: "Nunito Sans", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
$Poppins: 'Poppins', sans-serif;
@import "gallery";
@import "buttons";
@import "_general";
@import "banner";
@import "hitmanInteraction";
@import "features";
@import "newsletter";
@import "footer";
@import "suggestedOffers";
